@{
  Layout = "_Layout";
}

@model BakeryMarket.Models.Flavor

<h3>Flavor Details</h3>

<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>

@if (Model.Treats.Count == 0)
{
  <p>This flavor isn't associated with any treats!</p>
}
else
{
  <h4>@Html.DisplayNameFor(model => model.Treats)</h4>
  <ul>
    @foreach (var join in Model.Treats)
    {
      <li>@join.Treat.Name</li>
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Remove treat" class="btn btn-default">
      }
    }
  </ul>
}

<p>@Html.ActionLink("Display flavors", "Index")</p>
@if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
{
  <p>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</p>
}
else
{
  <p>@Html.ActionLink("Sign in to have full access", "Login", "Account")</p>
}