@{
  Layout = "_Layout";
}

@using BakeryMarket.ViewModels
@model LoginViewModel

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email)

  @Html.LabelFor(model => model.Password)
  @Html.TextBoxFor(model => model.Password)

  <input type="submit" value="Log in" class="btn btn-default">
}
<p>@Html.ActionLink("Create Account", "Register")</p>