@{
  Layout = "_Layout";
}

@model BakeryMarket.Models.Treat

<h3>Edit treat</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <Input type="submit" value="Save treat" class="btn btn-default">
}

<p>@Html.ActionLink("See all treats", "Index")</p>